extends layout

mixin collapse(member)
    

block content
    main(role='main')
        div(class='jumbotron jumbotron-fluid')
            div(class='col-sm-8 mx-auto')
                h1 Medlemmar
                p.lead Ingress.
                p Paragraf
        div(class='container')
            .row
                section.member#Anna-Karin
                    h3 Anna-Karin Karlsson
                    img(class='rounded float-right profile-image' src='images/members/anna-karin.jpg')
                    include:markdown-it members/anna-karin.md
            .row
                section.member#Birgitta
                    h3 Birgitta Englund
                    img(class='rounded float-right profile-image' src='images/members/birgitta.jpg')
                    include:markdown-it members/birgitta.md
            .row
                section.member#carin
                    h3 Carin Salander
                    img(class='rounded float-right profile-image' src='images/members/carin.jpg')
                    include:markdown-it members/carin.md
            .row
                section.member#gunilla
                    h3 Gunilla Berglund
                    img(class='rounded float-right profile-image' src='images/members/gunilla.jpg')
                    include:markdown-it members/gunilla.md
            .row
                section.member#karin
                    h3 Karin Egberg Thyme
                    img(class='rounded float-right profile-image' src='images/members/karin.png')
                    include:markdown-it members/karin.md
            .row
                section.member#katarina
                    h3 Katarina Sihlén
                    //img(class='rounded float-right profile-image' src='images/members/katarina.jpg')
                    include:markdown-it members/katarina.md
            .row
                section.member#leenah
                    h3 Leenah Malmi Pauser
                    img(class='rounded float-right profile-image' src='images/members/leenah.png')
                    include:markdown-it members/leenah.md
            .row
                section.member#ninne
                    h3 Ninne Lindgren
                    img(class='rounded float-right profile-image' src='images/members/ninne.jpg')
                    include:markdown-it members/ninne.md
            .row
                section.member#ulla
                    h3 Ulla Kiivuori
                    img(class='rounded float-right profile-image' src='images/members/ulla.jpg')
                    include:markdown-it members/ulla.md