/* Coolors Exported Palette - coolors.co/1147b2-bdd8a2-e54a16-f5ece4-2f0e3a */

/* HSL */
$color1: hsla(220%, 83%, 38%, 1);
$color2: hsla(90%, 41%, 74%, 1);
$color3: hsla(15%, 82%, 49%, 1);
$color4: hsla(28%, 46%, 93%, 1);
$color5: hsla(285%, 61%, 14%, 1);

/* RGB */
$color1: rgba(17, 71, 178, 1);
$color2: rgba(189, 216, 162, 1);
$color3: rgba(229, 74, 22, 1);
$color4: rgba(245, 236, 228, 1);
$color5: rgba(47, 14, 58, 1);