/* Coolors Exported Palette - coolors.co/2158a5-a3ccbb-e55b16-f4eae0-2d3142 */



/* RGB */
$color1: rgba(33, 88, 165, 1);
$color2: rgb(202, 224, 180);
$color3: rgba(229, 91, 22, 1);
$color4: rgb(236, 220, 201);
$color5: rgba(45, 49, 66, 1);

