/* Coolors Exported Palette - coolors.co/fefefe-292d29-eaeaec-461f26-f0e6ce */

/* HSL */
$color1: hsla(0%, 0%, 100%, 1);
$color2: hsla(120%, 5%, 17%, 1);
$color3: hsla(240%, 5%, 92%, 1);
$color4: hsla(349%, 39%, 20%, 1);
$color5: hsla(42%, 53%, 87%, 1);

/* RGB */
$color1: rgba(254, 254, 254, 1);
$color2: rgba(41, 45, 41, 1);
$color3: rgba(234, 234, 236, 1);
$color4: rgba(70, 31, 38, 1);
$color5: rgba(240, 230, 206, 1);