@import "_palette.scss"

@import url('https://fonts.googleapis.com/css?family=Comfortaa|Fira+Sans|Yantramanav')

$rubrik : 'Comfortaa', cursive
$ingress : 'Fira Sans', sans-serif
$bread : 'Yantramanav', sans-serif

html
    font-size: 1rem

body
    background-color: $color4
    color: $color5 

p
    font-family: $bread

a
    color: lighten($color1, 10%)
a:hover
    color: darken($color1, 10%)

h1, h2, h3, h4
    font-family: $rubrik
    letter-spacing: 0.12rem

.jumbotron
    background-color: $color5
    color: $color4
    border-radius: 0rem 0rem 0.3rem 0.3rem
    h1
        border-bottom: $color4 solid 1px
        width: 100%
        color: $color2
    .lead
        color: lighten($color3, 20%)
        font-family: $ingress
    a
        color: lighten($color1, 30%)
    a:hover
        color: lighten($color1, 40%)

.nav-link
    a
        color: $color4 !important
    a:hover
        color: darken($color4, 40%)
    a:active
        color: darken($color4, 20%)

.navbar-custom
    background-color: $color5
    font-family: $bread

.navbar-brand
    font-family: $rubrik
    color: lighten($color3, 20%) !important

.brand-icon
    color: $color2

.news, .members, .contact, .about, .offer, .resources
    h2
        color: $color3
        border-bottom: $color3 solid 1px
        width: 100%
    h3
        color: $color3

.btop
    position: fixed
    bottom: 20px
    right: 20px
    color: $color3

.profile-image
    width: 200px

.members
    h3
        color: darken($color2, 40%)

@media (max-width: 575.98px)
    .profile-image
        width: 120px

@media (max-width: 300px)
    .profile-image
        display: none