@import "_palette.scss"

$rubrik : 'Montserrat'
$ingress : 'Lora'
$bread : 'Hind Madurai'

html
    font-size: 1rem

body
    background-color: $color1
    color: $color2
p
    font-family: $bread, sans-serif

h1, h2, h3, h4
    font-family: $rubrik, sans-serif

.jumbotron
    background-color: $color3
    color: $color2
    p
        font-family: $ingress, serif

.navbar-custom
    background-color: $color5

.footer-custom
    background-color: $color3

.rubrik-red
    color: $color4
    border-bottom: $color4 solid 1px
    width: 100%

.news, .member
    h2
        color: $color4
        border-bottom: $color4 solid 1px
        width: 100%

.aktuellt
    background-image: url('../images/kritor.jpg')
    
.profile-image
    width: 200px

.btop
    position: fixed
    bottom: 20px
    right: 20px
    color: $color2

@media (max-width: 575.98px)
    .profile-image
        width: 120px

@media (max-width: 300px)
    .profile-image
        display: none