extends layout

block content
    main(role='main')
        div(class='jumbotron jumbotron-fluid')
            div(class='col-sm-8 mx-auto')
                h1 Om
                p.lead Bildterapihuset drivs av ett nätverk av bildterapeuter. Vi har vår verksamhet i en funktionellt inredd lokal på Brogatan 5.
                p Huset ligger inne på gården, i huset bakom Swefo foto. Vår lokal ligger i källarvåningen och det står Bildterapihuset på dörren. Vi erbjuder bildterapi för individer, familjer och grupper, handledning, kurser och workshops. Klicka på länken ”Vi bildterapeuter” så ser du vilka vi är och hur du får kontakt med oss.

        div(class='container-fluid')
            div(class='row')
                p Bildterapi är en komplementär terapiform som använder bildskapande och samtal för utforskning och bearbetning av tankar, känslor och minnen. Bildterapi kan hjälpa människor att lösa problem, minska stress, stärka självkänslan och komma till insikt. För utförligare information: 
                    a(href='http://www.bildterapi.se/bildterapi.html') bildterapi.se

                h4 Bildterapi passar för dig som söker
                ul
                    li Utveckling och förändring på det personliga planet
                    li Stöd i bearbetning av en aktuell eller genomgången kris
                    li Andra uttryckssätt än orden
                h4 Bildterapeutiska metoder passar för gruppen som vill
                ul
                    li Undersöka och förbättra sina kommunikationsmönster
                    li Utveckla kreativitet, lust och motivation i arbetet
                    li Lära känna sig själva och varandra

                p Vi är högskoleutbildade bildterapeuter med lång yrkeserfarenhet från socialt arbete, vård, specialpedagogik och själavårdande arbete. Vi är alla medlemmar i Sveriges Riksförbund för bildterapeuter (SRBt), följer deras Etiska riktlinjer och erhåller handledning på vårt arbete.

                p För ytterligare information och bokningar: 
                    a(href='mailto:kgunillak@gmail.com') kgunillak@gmail.com