footer(class='text-muted')
    div(class='container')
    p(class='float-right')
        a(href='#') Back to top
    p Du kan själv söka kontakt för egen del direkt via mail till någon av bildterapeuterna, eller via din Företagshälsovård eller annan kontaktperson. Önskar du allmän information maila till 
        a(href='mailto:kgunillak@gmail.com') kgunillak@gmail.com
    p Vi finns i Bildterapihuset, Brogatan 5. 
