footer(class='text-muted border-top container')
    a(class='btop' href='#' title='Back to Top') 
        i(class='fas fa-chevron-up fa-3x')
    p.small.md-2 Du kan själv söka kontakt för egen del direkt via mail till någon av bildterapeuterna, genom din företagshälsovård eller kontaktperson.
        br
        | Vi finns i Bildterapihuset på Brogatan 5.
        br 
        | Sidan är uppdaterad 
        time(datetime='2019-02') Februari 2019
