extends layout

block content
    main(role='main')
        div(class='jumbotron jumbotron-fluid')
            div(class='col-sm-10 mx-auto')
                h1.rubrik-red Aktuellt
                p.lead Här är våra aktuella kurser för vinter och vår 2019.
                p Om du önskar individuell bildterapi så hittar du information under våra medlemmars sidor. Du tar sedan kontakt via mail eller telefon.
                p
                    em Välkommen till kreativt skapande i Bildterapihuset.
        div(class='container-fluid news')
            include:markdown-it news/latest.md