extends layout

block content
    main(role='main')
        div(class='jumbotron jumbotron-fluid')
            div(class='col-sm-8 mx-auto')
                h1.rubrik-red Aktuellt
                p.lead Här är våra aktuella kurser för vinter och vår 2019.
                p Om du önskar individuell bildterapi så hittar du information under våra medlemmars sidor. Du tar sedan kontakt via mail eller telefon.
                p Välkommen till kreativt skapande i Bildterapihuset.
        include news.pug