extends layout    

mixin pimg(name)
    img(class='rounded float-right profile-image ml-3 mt-3 mb-2' src='images/members/' + name + '.jpg' alt='Bild på ' + name)

    - var members = ['Birgitta', 'Carin', 'Gunilla', 'Katarina', 'Ninne', 'Ulla']

block head
    -var title = "Medlemmar"
    title Bildterapihuset - #{title}


block jumbotron
    div(class='jumbotron')
        div(class='col-sm-10 mx-auto')
            h1.rubrik-red Medlemmar
            p.lead Här nedan hittar du information om våra medlemmar och vad de erbjuder.
            p I dagsläget är följande terapeuter aktiva i bildterapihuset:
            ul.list-inline
                each member in members
                    li.list-inline-item
                        a(href='#' + member)= member

block content
    main.container.members
        section.row.pt-3#Birgitta
            .col
                h1 Birgitta Englund
                +pimg('birgitta')
                include:markdown-it members/birgitta.md
        section.row.pt-3#Carin
            .col
                h1 Carin Salander
                +pimg('carin')
                include:markdown-it members/carin.md
        section.row.pt-3#Gunilla
            .col
                h1 Gunilla Berglund
                +pimg('gunilla')
                include:markdown-it members/gunilla.md
        section.row.pt-3#Katarina
            .col
                h1 Katarina Sihlén
                include:markdown-it members/katarina.md
        section.row.pt-3#Ninne
            .col
                h1 Ninne Lindgren
                +pimg('ninne')
                include:markdown-it members/ninne.md
        section.row.pt-3#Ulla
            .col
                h1 Ulla Kiivuori
                +pimg('ulla')
                include:markdown-it members/ulla.md