extends layout

block content
    main(role='main')
        div(class='jumbotron jumbotron-fluid')
            div(class='col-sm-8 mx-auto')
                h1 Medlemmar
                p.lead Ingress.
                p Paragraf
        div(class='container')
            div(class='row')
                .member
                    h3 Anna-Karin Karlsson
                    img(class='float-md-right profile-image' src='images/members/Anna-Karin.jpg')
                    include:markdown-it members/Anna-Karin.md