div(class='container')
    div(class='row')
        h2 Upptäck ditt bildspråk
        p Här får du möjlighet att prova på att arbeta med bild som kommunikation. Med några enkla bildövningar kan du upptäcka ditt eget personliga bildspråk. Du får sedan möjlighet att dela dina reflexioner med gruppen under min ledning. Att ha målat förut är inget krav!
        p Gruppledare är Gunilla Berglund, bildterapeut/socionom.
        p Vi träffas 6 timmar, antingen dagtid en helg eller vid tre träffar på kvällstid. Gruppen startar när minst 5 personer anmält sig.
            br 
            | Kostnad 450:- inklusive material. Är Du intresserad av att delta? Anmäl Dig då via mail till kgunillak@gmail.com

        h2 Att bryta sina mönster, en möjlighet att förändra ett alkohol/drogberoende.
        p Ett erbjudande om att individuellt eller i grupp öppet prata om riskbruk, missbruk eller beroende. Bildspråket i kombination med samtalet kan vara en ny väg framåt bort från beroendet.
            br
            | Ta kontakt via mail kgunillak@gmail.com för mer information och intresseanmälan. Jag hör då av mig till Dig.
            br
            | För att veta mer om min bakgrund och arbetssätt, gå till startsidan och läs min presentation under rubriken ”Vi bildterapeuter.”
        p Gunilla Berglund, Bildterapeut/socionom