extends layout

block head
    title Bildterapihuset - Erbjudanden

block content
    main
        div(class='jumbotron jumbotron-fluid')
            div(class='col-sm-10 mx-auto')
                h1.rubrik-red Bildterapihusets erbjudanden
                p.lead Här hittar du en beskrivning över vad vi på Bildterapihuset kan erbjuda dig.
                p Önskar du individuell terapi så hittar du information under våra medlemmars sidor.
        div(class='container-fluid')
            section.row
                .col-md-9.col
                    h3.rubrik-red Bildterapi, individuellt och i grupp
                    p I bildterapi målar klienten bilder individuellt eller i en grupp tillsammans med en utbildad bildterapeut för att söka kunskap om sig själv och sin situation. Bildskapande hjälper människor att lösa problem och konflikter, utveckla samspelsfärdigheter, minska stress, stärka självkänslan och komma till insikt. Bearbetning sker både genom den skapande processen och genom reflekterande samtal. I bildterapi krävs inga kunskaper i konstnärliga tekniker.

                    h3.rubrik-red Bildarbetet med barn/unga
                    p Genom att leka, utforska och experimentera med färger och former får barnet/ungdomen möjlighet att uttrycka och bearbeta känslor, tankar och upplevelser som inte alltid kan uttryckas i ord. Detta sker i ett tryggt rum med en vuxen som ser, ger stöd och bekräftelse. Bildarbete kan stärka barnets/ungdomens självkänsla, minska oro och ge vila från krav på prestationer.

                    h3.rubrik-red Psykosocialt samtalsstöd
                    p Behov av professionellt samtalsstöd kan finnas vid sociala påfrestningar såsom skilsmässa, anhörigs död, sjukdom, missbruk, arbetslöshet etc . Syftet med samtalen är att belysa och förstå den uppkomna situationen samt hitta handlingsvägar som främjar en positiv lösning.

                    h3.rubrik-red Parsamtal
                    p Parsamtal är samtal för dig och din partner när ni vill förbättra ert förhållande.

                    h3.rubrik-red Familjerådgivning
                    p Samtal för dig och din familj när ni har problem i er relation. T ex problem i relationen till vuxna barn, svärföräldraproblem, barnuppfostringsproblem, vårdnadsfrågor eller styvfamiljsproblem.

                    h3.rubrik-red Psykoterapi
                    p Psykoterapi är en samtalsbehandling där du tillsammans med en legitimerad psykoterapeut samtalar om det som är problematiskt för dig. Vanliga orsaker till att söka psykoterapi är när man är deprimerad, nedstämd eller har ångest, relationsproblem i familjen eller på arbetet samt vid livskriser såsom skilsmässa och dödsfall. När man har existentiella problem och frågor om livet kan psykoterapi också vara lämpligt. I samtalen talar man om det som är viktigt för en själv, upplevelser i nuet och tidigare för att upptäcka hur man reagerar, vilka mönster man använder. Psykoterapeuten har tystnadsplikt.

                    h3.rubrik-red Mindfulnessbaserat bildarbetet
                    p Stressreduktion och självkännedom baserad på Mindfulness och bildterapeutisk metodik. I enkel sittande meditation övas uppmärksamhet på andning, tankar och känslor. I kravlösa och lekfulla målningsövningar med kritor och vattenfärger kan upplevelsen av kropp och sinne gestaltas, för att därefter utforskas genom reflekterande samtal i gruppen. Du behöver inte kunna måla för att delta.

                    h3.rubrik-red Handledning
                    p Individuell handledning ges på klientarbete, processer eller för personlig och professionell utveckling. Grupphandledning med bildskapande som verktyg ges för personalgrupper som vill prova på ett annat sätt att lära och reflektera tillsammans. Ett lekfullt skapande med färger och former blir grunden för reflekterande samtal som bygger på empatisk kommunikation mellan deltagarna.

                    h3.rubrik-red Teamutveckling
                    p Bildterapihuset ”skräddarsyr” team/lagarbetet utifrån gruppens behov, mål och visioner. Med Fyrarummaren och bildkommunikation hjälper vi dig och din grupp skapa ett framgångsrikt och positivt klimat i utvecklingsarbetet. Fyrarummaren är en teori om förändring, om vad som sker med människor och organisationer i förändring. Bildkommunikation är en ”lek på fullt allvar”, lust och glädje främjas i gemensamt bildskapande. Kommunikationen sker i ett öppet klimat där alla ”vågar prata” och konflikter hanteras på ett synbart och utvecklande sätt.

                    h3.rubrik-red Motiverande samtal
                    p Motiverande samtal är en på samarbete grundad, personcentrerad form av vägledning för att framkalla och stärka motivation till förändring. Samtalsledaren visar respekt för klientens autonomi, dennes rätt och kapacitet till självbestämmande.

                    h3.rubrik-red Lösningsfokuserad terapi
                    p Lösningsfokuserad terapi är en korttids behandling som bygger på klientens egna styrkor och egna idéer om vad som fungerar. Under samtalen letar terapeuten tillsammans med klienten efter den rakaste och kortaste möjliga vägen till klientens mål.
                .col-md-3
                    img(class='rounded img-fluid pt-5 d-none d-md-block mx-auto' src='images/tradgard.jpg' alt='Bild på trädgård')