extends layout

block head
    -var title = "Erbjudanden"
    title Bildterapihuset - #{title}

block jumbotron
    div(class='jumbotron')
        div(class='col-sm-10 mx-auto')
            h1 Våra erbjudanden
            p.lead Här hittar du en beskrivning över vad vi på Bildterapihuset kan erbjuda dig.
            p Önskar du individuell terapi så hittar du information på 
                a(href='members.html') medlemssidan

block content
    main.container.offer
        section.row
            .col-md-9.col
                h1 Bildterapi, individuellt och i grupp
                p I bildterapi målar klienten bilder individuellt eller i en grupp tillsammans med en utbildad bildterapeut för att söka kunskap om sig själv och sin situation. Bildskapande hjälper människor att lösa problem och konflikter, utveckla samspelsfärdigheter, minska stress, stärka självkänslan och komma till insikt. Bearbetning sker både genom den skapande processen och genom reflekterande samtal. I bildterapi krävs inga kunskaper i konstnärliga tekniker.

                h1 Bildarbetet med barn/unga
                p Genom att leka, utforska och experimentera med färger och former får barnet/ungdomen möjlighet att uttrycka och bearbeta känslor, tankar och upplevelser som inte alltid kan uttryckas i ord. Detta sker i ett tryggt rum med en vuxen som ser, ger stöd och bekräftelse. Bildarbete kan stärka barnets/ungdomens självkänsla, minska oro och ge vila från krav på prestationer.

                h1 Psykosocialt samtalsstöd
                p Behov av professionellt samtalsstöd kan finnas vid sociala påfrestningar såsom skilsmässa, anhörigs död, sjukdom, missbruk, arbetslöshet etc . Syftet med samtalen är att belysa och förstå den uppkomna situationen samt hitta handlingsvägar som främjar en positiv lösning.

                h1 Mindfulnessbaserat bildarbetet
                p Stressreduktion och självkännedom baserad på Mindfulness och bildterapeutisk metodik. I enkel sittande meditation övas uppmärksamhet på andning, tankar och känslor. I kravlösa och lekfulla målningsövningar med kritor och vattenfärger kan upplevelsen av kropp och sinne gestaltas, för att därefter utforskas genom reflekterande samtal i gruppen. Du behöver inte kunna måla för att delta.

                h1 Handledning
                p Individuell handledning ges på klientarbete, processer eller för personlig och professionell utveckling. Grupphandledning med bildskapande som verktyg ges för personalgrupper som vill prova på ett annat sätt att lära och reflektera tillsammans. Ett lekfullt skapande med färger och former blir grunden för reflekterande samtal som bygger på empatisk kommunikation mellan deltagarna.

                h1 Teamutveckling
                p Bildterapihuset ”skräddarsyr” team/lagarbetet utifrån gruppens behov, mål och visioner. Med Fyrarummaren och bildkommunikation hjälper vi dig och din grupp skapa ett framgångsrikt och positivt klimat i utvecklingsarbetet. Fyrarummaren är en teori om förändring, om vad som sker med människor och organisationer i förändring. Bildkommunikation är en ”lek på fullt allvar”, lust och glädje främjas i gemensamt bildskapande. Kommunikationen sker i ett öppet klimat där alla ”vågar prata” och konflikter hanteras på ett synbart och utvecklande sätt.

                h1 Motiverande samtal
                p Motiverande samtal är en på samarbete grundad, personcentrerad form av vägledning för att framkalla och stärka motivation till förändring. Samtalsledaren visar respekt för klientens autonomi, dennes rätt och kapacitet till självbestämmande.

                h1 Lösningsfokuserad terapi
                p Lösningsfokuserad terapi är en korttids behandling som bygger på klientens egna styrkor och egna idéer om vad som fungerar. Under samtalen letar terapeuten tillsammans med klienten efter den rakaste och kortaste möjliga vägen till klientens mål.
            .col-md-3
                img(class='rounded img-fluid pt-5 d-none d-md-block float-right' src='images/tradgard.jpg' alt='Bild på trädgård')