extends layout

block content
    main(role='main')
        div(class='jumbotron jumbotron-fluid')
            div(class='col-sm-10 mx-auto')
                h1.rubrik-red Resurser och Länkar
                p.lead Ingress.
                p Paragraf
        div(class='container-fluid')
            .row
                h3 Bildterapiföreningar
                p Sveriges Riksförbund för Bildterapeuter (SRBt) med ca 150 medlemmar organiserar utbildade bildterapeuter i Sverige www.bildterapi.se
                p Bildterapeutföreningen i Norrland(BiN) är en lokalavdelning till SRBtmed ett 40-tal medlemmar www.bildterapinorr.se

                h3 Bildterapeututbildningar
                p Vid Umeå universitet ges Specialistutbildning i bildterapi 45hp www.umu.se
                p Magisterprogram i bildterapi 60hp www.umu.se

                p För information om privata utbildningsalternativ se www.bildterapi.se/utbildning

                h3 Litteratur om bildterapi
                p På svenska: www.bildterapi.se/litteratur

                p Internationella tidskrifter:
                ul
                    li International Journal of Art Therapy (Inscape) - brittiska bildterapeutförbundets tidskrift
                    li The Arts in Psychotherapy – forskningstidskrift för bild-, musik-, dans- och dramaterapi
                    li Art Therapy OnLine (ATOL) Art Therapy Online
                    li International arts therapies journal International arts therapies

                h3 Forskning och utveckling inom bildterapi
                    span.small - i Sverige
                p Vid Umeå universitet har tre bildterapeuter disputerat inom Pedagogiskt arbete/Genusforskarskola (Eva Skåréus), Omvårdnad/Genusforskarskola (Inger Öster) och inom Klinisk/Psykoterapi (Karin Egberg Thyme). För utförligare beskrivning av deras forskningsarbete se www.bildterapi.se/forskning

                h3
                    span.small - internationellt
                p Amerikanska och brittiska bildterapeutförbunden informerar om aktuell forskning på sina respektive hemsidor
                ul
                    li AATA
                    li BAAT