extends layout

block content
    main(role='main')
        div(class='jumbotron jumbotron-fluid')
            div(class='col-sm-8 mx-auto')
                h1 Resurser och Länkar
                p.lead Ingress.
                p Paragraf
        div(class='container')
            div(class='row')
                h2 Rubriks rubrik
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem veritatis dolorum, pariatur ratione quidem animi aut qui illo. Odio voluptates neque suscipit debitis, optio reiciendis perspiciatis. Maiores nemo cumque numquam.