extends layout

block head
    -var title = "Resurser"
    title Bildterapihuset - #{title}

block jumbotron
    div(class='jumbotron')
        div(class='col-sm-10 mx-auto')
            h1.rubrik-red Resurser och Länkar
            p.lead Här hittar du länkar och resurser kring bildterapi.
            p Länkar och resurser är kontrollerade
                time(datetime='2019-02') Februari 2019
                | .

block content
    main.container.resources
        section.row
            .col-md-9.col
                include:markdown-it content/resources.md
            .col-md-3
                img(class='rounded img-fluid pt-5 d-none d-md-block float-right' src='images/stenar.jpg' alt='Bild på stenvägg')
